<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccf.ccfpedia.cms.dao.EntryMapper">
  <resultMap id="BaseResultMap" type="org.ccf.ccfpedia.cms.bean.EntryBean">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="first_class" jdbcType="INTEGER" property="firstClass" />
    <result column="second_class" jdbcType="INTEGER" property="secondClass" />
    <result column="category" jdbcType="INTEGER" property="category" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, status, first_class, second_class, category
  </sql>

  <select id="selectEntryByTaskId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `entry`
    INNER JOIN `task_entry` on entry.id = task_entry.entry_id
    where Task_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectEntryCountByTaskId" resultType="java.lang.Integer" >
    select count(*)
    from `task_entry`
    where Task_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getEntryList" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `entry`
  </select>

  <select id="entryAllCount" resultType="java.lang.Integer" >
    select count(*)
    from `entry`
  </select>

  <insert id="addEntry" parameterType="org.ccf.ccfpedia.cms.bean.EntryBean" useGeneratedKeys="true" keyProperty="id">
    insert into entry (name, status, first_class, second_class, category)
    values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{firstClass,jdbcType=INTEGER}, #{secondClass,jdbcType=INTEGER},
      #{category,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="org.ccf.ccfpedia.cms.bean.EntryBean">
    update `entry`
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="firstClass != null">
        first_class = #{firstClass,jdbcType=INTEGER},
      </if>
      <if test="secondClass != null">
        second_class = #{secondClass,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="deleteEntry" parameterType="org.ccf.ccfpedia.cms.bean.TaskBean">
    update `entry`
    <set>
        status = 0
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getFirstClassEntry" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `entry`
    where first_class = #{firstClass,jdbcType=INTEGER}
  </select>

  <select id="getSecondClassEntry" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `entry`
    where second_class = #{secondClass,jdbcType=INTEGER}
  </select>

  <select id="getEntryBystatus" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `entry`
    where status = #{status,jdbcType=INTEGER}
  </select>

  <select id="firstClassEntryCount" resultType="java.lang.Integer" >
  select count(*)
  from `entry`
  where first_class = #{firstClass,jdbcType=INTEGER}
  </select>

  <select id="secondClassEntryCount" resultType="java.lang.Integer" >
  select count(*)
  from `entry`
  where second_class = #{secondClass,jdbcType=INTEGER}
  </select>

  <select id="EntryCountBystatus" resultType="java.lang.Integer" >
  select count(*)
  from `entry`
  where status = #{status,jdbcType=INTEGER}
  </select>

</mapper>