<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccf.ccfpedia.cms.dao.SecondClassMapper">
  <resultMap id="BaseResultMap" type="org.ccf.ccfpedia.cms.bean.SecondClassBean">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="first_class" jdbcType="INTEGER" property="firstClass" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, first_class
  </sql>

  <select id="list" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from second_class
    <if test="firstClassId != null">
      where first_class = #{firstClassId, jdbcType=INTEGER}
    </if>
  </select>

  <select id="listByGroupId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from group_second_class
    left join second_class on class_id = id
    where true
    <if test="firstClassId != null">
      and first_class = #{firstClassId, jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
      and group_id = #{groupId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="count" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*)
    from second_class
    <if test="firstClassId != null">
      where first_class = #{firstClassId, jdbcType=INTEGER}
    </if>
  </select>

  <select id="countByGroupId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(*)
    from group_second_class
    left join second_class on class_id = id
    where true
    <if test="firstClassId != null">
      and first_class = #{firstClassId, jdbcType=INTEGER}
    </if>
    <if test="groupId != null">
      and group_id = #{groupId,jdbcType=INTEGER}
    </if>
  </select>
</mapper>