<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccf.ccfpedia.cms.dao.TaskEntityMapper">

  <insert id="insertMany" parameterType="java.util.List">
    insert into task_entity (task_id, entity_id)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.taskId,jdbcType=INTEGER},#{item.entityId,jdbcType=INTEGER})
    </foreach>
  </insert>

  <delete id="deleteByTaskId" >
  delete from task_entity
  where task_id = #{taskId,jdbcType=INTEGER}
</delete>

</mapper>