<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccf.ccfpedia.cms.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="org.ccf.ccfpedia.cms.bean.TaskBean">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="founder_id" jdbcType="INTEGER" property="founderId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="committee_id" jdbcType="INTEGER" property="committeeId" />
    <result column="executor_id" jdbcType="INTEGER" property="executorId" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="status_id" jdbcType="INTEGER" property="statusId" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name,description,founder_id,creation_time,committee_id,executor_id,deadline,status_id,memo
  </sql>

  <select id="selectByCommitteeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `task`
    where founder_id = #{id,jdbcType=CHAR}
  </select>

  <select id="selectByExpertId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from `task`
    where committee_id = #{id,jdbcType=CHAR}
  </select>

  <select id="count" resultType="java.lang.Integer" >
    select count(*)
    from `task`
  </select>

  <select id="selectByTaskId" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    select *
    from `task`
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="addTask" parameterType="org.ccf.ccfpedia.cms.bean.TaskBean" useGeneratedKeys="true" keyProperty="id">
    insert into task (name,description,founder_id,creation_time,committee_id,executor_id,deadline,status_id,memo)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{founderId,jdbcType=INTEGER}, #{creationTime,jdbcType=TIMESTAMP},
      #{committeeId,jdbcType=INTEGER}, #{executorId,jdbcType=INTEGER},#{deadline,jdbcType=TIMESTAMP},#{statusId,jdbcType=INTEGER},#{memo,jdbcType=VARCHAR}
      )
  </insert>

  <update id="modifyTask" parameterType="org.ccf.ccfpedia.cms.bean.TaskBean">
    update task
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="founderId != null">
        founder_id = #{founderId,jdbcType=INTEGER},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="committeeId != null">
        committee_id = #{committeeId,jdbcType=INTEGER},
      </if>
      <if test="executorId != null">
        executor_id = #{executorId,jdbcType=INTEGER},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null">
        status_id = #{statusId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="deleteTask" parameterType="org.ccf.ccfpedia.cms.bean.TaskBean">
    update task
    <set>
      <if test="founderId != committeeId">
        status_id = 3,
      </if>
      <if test="founderId == committeeId">
        status_id = 8,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="completeTask" parameterType="org.ccf.ccfpedia.cms.bean.TaskBean">
    update task
    <set>
      <if test="founderId != committeeId">
        status_id = 13,
      </if>
      <if test="founderId == committeeId">
        status_id = 12,
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>