<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccf.ccfpedia.cms.dao.TaskNewEntryMapper">

  <select id="getEntryListByTaskId" resultType="java.lang.String" parameterType="java.lang.Integer">
    select name
    from task_new_entry
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>

  <insert id="insertMany" parameterType="java.util.List">
    insert into task_new_entry (task_id, name)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.taskId,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <delete id="deleteByTaskId" >
  delete from task_new_entry
    where task_id = #{taskId,jdbcType=INTEGER}
</delete>

</mapper>