<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ccf.ccfpedia.cms.dao.TaskViewMapper">
  <resultMap id="BaseResultMap" type="org.ccf.ccfpedia.cms.bean.TaskViewBean">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="founder_id" jdbcType="INTEGER" property="founderId" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="committee_id" jdbcType="INTEGER" property="committeeId" />
    <result column="executor_id" jdbcType="INTEGER" property="executorId" />
    <result column="deadline" jdbcType="TIMESTAMP" property="deadline" />
    <result column="state_name" jdbcType="VARCHAR" property="statusName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name,description,founder_id,creation_time,committee_id,executor_id,deadline,status_name,memo
  </sql>

  <select id="selectByCommitteeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where founder_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByCommitteeAndState" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where founder_id = #{id,jdbcType=INTEGER} and task.status_id = #{statusId,jdbcType=INTEGER}
  </select>

  <select id="committeeAllCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where founder_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="committeeStateCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where founder_id = #{id,jdbcType=INTEGER} and task.status_id = #{statusId,jdbcType=INTEGER}
  </select>

  <select id="selectByEditId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where executor_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByEditAndState" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where executor_id = #{id,jdbcType=INTEGER} and task.status_id = #{statusId,jdbcType=INTEGER}
  </select>

  <select id="editAllCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where executor_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="editStateCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where executor_id = #{id,jdbcType=INTEGER} and task.status_id = #{statusId,jdbcType=INTEGER}
  </select>

  <select id="selectTaskViewByState" resultType="java.lang.Integer" resultMap="BaseResultMap" >
    select
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where status_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="taskViewStateCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    where status_id = #{id,jdbcType=INTEGER}
  </select>




  <select id="selectByExpertId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where committee_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByExpertAndState" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    task.*,task_status.name AS state_name
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where committee_id = #{id,jdbcType=INTEGER} and task.status_id = #{statusId,jdbcType=INTEGER}
  </select>

  <select id="allExpertCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where committee_id = #{id,jdbcType=INTEGER}
  </select>

  <select id="experStateCount" resultType="java.lang.Integer" >
    select count(*)
    from `task`
    INNER JOIN `task_status` on task.status_id = task_status.id
    where committee_id = #{id,jdbcType=INTEGER} and task.status_id = #{statusId,jdbcType=INTEGER}
  </select>
</mapper>